.navbar {
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-between;
  height: 10%;
  background-color: #FFFFFF;
  z-index: 2;
  border-bottom: 1px solid #EBEBEB;
}

.splash {
  background-color: transparent;
  border: none;
}

.navbar-search-links-outterdiv {
 width: 95%;
}

.navbar-search-links-innerdiv {
  display: flex;
  justify-content: space-between;
  height: 80px;
  width: 100%;
}

.navbar-logo {
 background-image: image-url("logo.png");
 background-size: contain;
 background-repeat: no-repeat;
 width: 68px;
 height: 80px;
 margin-left: 15px;
 display: flex;
 align-items: center;
 justify-content: center;
}

.navbar-search {
  width: 80%;
  height: 80px;
  display: flex;
  align-items: center;
}

.navbar-search > input {
  width: 458px;
  height: 46px;
  color: #484848;
  font-size: 16px;
  border: 1px solid lightgray;
  box-shadow: 0px 2px 4px 1px rgba(0,0,0,0.1);
  border-radius: 4px;
  padding: 0px 30px;
}

.navbar-links-splash {
  display: flex;
  justify-content: space-between;
  // margin-right: 10px;
  // width: 346px;
}

.navbar-links-splash > button:hover {
  border-bottom: 2px solid #FFFFFF;
  cursor: pointer;
}

.navbar-links-splash > button {
  background-color: transparent;
  border: none;
  height: 80px;
  vertical-align: middle;
  border-bottom: 2px solid transparent;
  width: 70px;
  font-size: 14px;
  color: #FFFFFF;
  font-weight: 100;
  margin: 0 10px;
}

.navbar-links {
  display: flex;
  justify-content: space-between;
  // width: 346px;
}

.navbar-links button:hover {
  border-bottom: 2px solid black;
  cursor: pointer;
}

.navbar-links button {
  background-color: transparent;
  border: none;
  height: 80px;
  vertical-align: middle;
  border-bottom: 2px solid transparent;
  width: 70px;
  font-size: 14px;
  font-weight: 500;
  margin: 0 10px;
}

// .navbar-links > button:first-child {
//   width: 150px;
// }

.modal-child {
  width: 0;
}

.modal-background {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 1500px;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.8);
  z-index: 3;
}

.signlog-modal-form {
  position: absolute;
  left: 0;
  right: 0;
  top: 5%;
  margin: auto;
  background-color: #FFFFFF;
  border: 1px solid #888;
  width: 500px;
  display: flex;
  flex-direction: column;
  padding: 32px;
  font-size: 20px;
  overflow: hidden;
}

@media (max-height: 700px) {
  .signlog-modal-form {
    top: 2%;
  }
}

.signlog-modal-form input {
  border: 1px solid #EBEBEB;
  border-radius: 4px;
  height: 24px;
  padding: 12px 24px;
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 100;
  width: 450px;
}

button.signup-login-form-btn {
  background-color: #F85D5E;
  padding: 24px;
  font-size: 16px;
  font-weight: 400;
  border-radius: 4px;
  color: #FFFFFF;
  line-height: 0px;
}

.close {
  width: 16px;
  height: 16px;
  color: #808080;
  font-size: 60px;
  font-weight: 0;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.signlog-errors {
  margin-bottom: 25px;
}

.signlog-errors-error {
  display: flex;
  color: #FF593B;
  font-size: 14px;
  padding-bottom: 2px;
}

.signlog-errors span {
  width: 15px;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

.otherform-btn {
  border: none;
  color: #008688;
  font-weight: 200;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
}

.otherform-btn:hover {
  cursor: pointer;
  border-bottom: 1px solid #008688;
}

.otherform-btn-section {
  font-size: 16px;
  display: flex;
  justify-content: center;
  height: 22px;
}

.demo-div {
  display: flex;
  justify-content: center;
}

