.booking-form {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.booking-form > header{
  display: flex;
}

.booking-form header > div {
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
  font-size: 18px;
  margin-top: -5px;
}

.booking-form header > span {
  margin-left: 5px;
}

.booking-form-stars {
  display: flex;
}

.stars-outer {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
  font-size: 10px;
}

.stars-outer::before {
  // content: "\f006 \f006 \f006 \f006 \f006";
  content: "\f005 \f005 \f005 \f005 \f005";
  color: #D8D8D8;
}

.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  font-size: 12px;
}

.stars-inner::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  color: #008489;
}

#booking-form-review-count {
  margin-left: 5px;
  font-size: 12px;
}

.booking-form span {
  margin-bottom: 10px;
  font-size: 12px;
}

.DateRangePickerInput {
  width: 100%;
}

#guests-label {
  margin-top: 15px;
}

#booking-form-btn {
  background-color: #F85D5E;
  width: 100%;
  padding: 24px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 4px;
  color: #FFFFFF;
  line-height: 0px;
}

#not-charged-text {
  margin-top: 15px;
  text-align: center;
}

.booking-form:last-child {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

.booking-form strong {
  font-weight: 900;
}

#booking-form-start-date, #booking-form-end-date {
  padding: 8px 0px;
  display: inline-block;
  width: 130px;
  height: 24px;
  font-size: 16px;
  margin-left: 15px;
}

.DateRangePickerInput__showClearDates {
  padding-right: 0px !important;
}

.DateInput_input::placeholder {
  content: "Check in" !important;
}

.DateRangePickerInput_arrow_svg {
  margin-left: 20px;
}

.booking-form-guests-dropdown-btn {
  box-sizing: border-box;
  font-size: 16px;
  border: 1px solid #dbdbdb;
  padding: 8px;
  padding-left: 16px;
  height: 40px;
  width: 100%;
  margin-bottom: 20px;
  text-align: left;
  cursor: pointer;
  font-weight: 100;
  font-family: 'Montserrat', sans-serif;
}

.booking-form-guests-dropdown-btn:focus {
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
}

.booking-form-dropdown {
  position: relative;
  display: inline-block;
}

.booking-form-guests-dropdown {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.booking-form-guests-dropdown button {
  cursor: pointer;
}

#show {display: block;}