.booking-form {
  display: flex;
  flex-direction: column;
  align-items: space-around;
  height: 100%;
}

.booking-form > header{
  display: flex;
}

.booking-form header > div {
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
  font-size: 18px;
  margin-top: -5px;
}

.booking-form header > span {
  margin-left: 5px;
}

.booking-form-stars {
  display: flex;
}

.stars-outer {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
  font-size: 10px;
}

.stars-outer::before {
  // content: "\f006 \f006 \f006 \f006 \f006";
  content: "\f005 \f005 \f005 \f005 \f005";
  color: #D8D8D8;
}

.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  font-size: 12px;
}

.stars-inner::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  color: #008489;
}

#booking-form-review-count {
  margin-left: 5px;
  font-size: 12px;
}

.booking-form span {
  margin-bottom: 10px;
  font-size: 12px;
}

#guests-label {
  margin-top: 15px;
}

#booking-form-btn {
  background-color: #F85D5E;
  width: 100%;
  padding: 24px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 4px;
  color: #FFFFFF;
  line-height: 0px;
}