.listings-index-master {
  border-top: 1px solid #E4E4E4;
}

.listings-index-map-container {
  margin-left: 288px;
  width: calc(100% - 288px);
}

@media (min-width: 1549px) {
  .listings-index-main {
    width: calc(100% - 500px);
  }
}

@media (min-width: 1317px) {
  .listings-index-main {
    width: 761px;
  }
}

@media (min-width: 1766px) {
  .listings-index-main {
    width: 946px;
  }
}

@media (max-width: 1316px) {
  .listings-index-main {
    width: calc(100vw - 288px);
  }
}

.listings-index-main {
  position: relative;
  height: 100%;
  min-height: 100vh;
  padding: 0px 16px;
}

.listings-index-map {
  position: fixed;
  height: 92vh;
  top: 80px;
  right: 0;
}

@media (min-width: 1549px) {
  .listings-index-map {
    width: 500px;
  }
}

@media (min-width: 1317px) {
  .listings-index-map {
    width: calc(100% - 1080px);
  }
}

@media (max-width: 1318px) {
  .listings-index-map {
    width: 450px;
  }
}

@media (min-width: 1461px) {
  .listings-index-map {
    width: calc(100% - 1080px);
  }
}

@media (min-width: 1766px) {
  .listings-index-map {
    width: calc(100% - 1266px);
  }
}

.listings-index-main > header {
  margin: 20px 20px;
  font-weight: 900;
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
}

.listings-index-items {
  display: flex;
  flex-wrap: wrap;
}

.listings-index-sidebar {
  height: 100%;
  width: 288px;
  position: fixed;
  padding: 24px;
  top: 80px;
  left: 0;
  box-sizing: border-box;
  z-index: 1;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #EBEBEB;
}

#map-container {
  width: 100%;
  height: 100%;
}