.listing-detail-master {
  display: flex;
  justify-content: space-between;
  padding-left: 24px;
  padding-right: 24px;
  margin-top: 20px;
  width: 1050px;
  margin: auto;
  height: 1500px;
}

.listing-detail-main-section {
  margin-top: 24px;
  padding-right: 8px;
  width: 56%;
}

.listing-detail-book-box-spacer {
  position: relative;
  width: 326px;
  height: 20px;
  padding: 0px 24px;
}

.listing-detail-book-box {
  background-color: lightblue;
  position: absolute;
  border: 1px solid #e4e4e4;
  margin-left: 45px;
  top: 24px;
  right: 25px;
  width: 326px;
  height: 361px;
  padding: 0px 24px;
}

.listing-detail-header-main {
  display: flex;
  justify-content: space-between;
  height: 116px;
}

.listing-detail-title-city {
  line-height: 1.3;
  height: 100%;
}

.listing-detail-title-city > h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 28px;
  font-weight: 1000;
  width: 458px;
}

.listing-detail-host-pic {
  background-color: lightblue;
  border: 1px solid black;
}

.listing-detail-core-amenities {
  line-height: 1.375em;
  display: flex;
  font-size: 16px;
}

.core-amenities-count {
  margin-right: 5px !important;
}

.listing-detail-core-amenities > span {
  margin-right: 20px;
}

#guestsLogo {
  background-image: image-url("guests.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
  margin-right: 7px;
}

#bedroomsLogo {
  background-image: image-url("bedrooms.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
  margin-right: 7px;
}

#bedsLogo {
  background-image: image-url("beds.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
  margin-right: 7px;
}

#bathLogo {
  background-image: image-url("bath.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
  margin-right: 7px;
}

.listing-detail-description {
  margin: 25px 0px;
}

.listing-detail-contact-btn {
  color: #26848A;
  cursor: pointer;
}

.listing-detail-contact-btn:hover {
  text-decoration: underline solid #26848A;
}

.listing-detail-amenities > h1 {
  font-weight: bolder;
  font-family: 'Roboto', sans-serif;
}

.listing-detail-amenities-logos {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

